<style type="text/css">
	hr {
		border-color: black;
	}
	table,th,td {
		border: 1px solid black;
	}
</style>

<body>
	<h1 style="font-size: 45px; text-align: center;">Tarifs</h1>
		<div class="row">
		<div class="col-md-3 offset-md-3">

		</div>

		<div class="col-md-6 article">
			<h4>PENSION DE BASE : 430€</h4>
			<p>La pension de base comprend l’hébergement du cheval dans un boxe sur paille, alimentation (granulés), accès à toutes les installations du centre.</p><br/>
			<hr/>
			<h4>PENSION BASE + 2 SORTIES : 530€</h4>
			<p>La pension « base+2 sorties » comprend en plus de la pension de base, 2 sorties différentes par semaine au choix* (paddock, récré, cours collectifs).</p>
			<hr/>
			<h4>PENSION TRAVAIL : 700€</h4>
			<p>La pension « travail » comprend en plus de la pension de base, un repas foin par jour, la sortie de votre cheval 7j/7 et des cours collectifs à volonté. **</p>
			<p>*en fonction des conditions climatiques</p>
			<p>**2 cours habituels et les autres en fonction des places disponibles</p>
			<hr/>
		</div>
	</div>
		<div class="row">
		<div class="col-md-3 offset-md-3">

		</div>

		<div class="col-md-6 article">
			<h4>Autres prestations</h4>
			<p>Cheval/poney de club en demi-pension : 260 euros/mois</p>
			<p>Cheval/poney de propriétaire en demi-pension : 250 euros/mois</p><br/>
			<p>Pour les poneys B et C (taille comprise entre 1,08m et 1,40m) : -110 euros sur tous les tarifs ci-dessus sauf demi-pension club.</p>
			<hr/>
			<h4>Prestations supplémentaires</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Prestations</th>
						<th>Prix</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><p>Carte de 10 séances de cours en cours collectifs</p></td>
						<td>160 euros</td>
					</tr>
					<tr>
						<td><p>Cours particulier</p></td>
						<td>45 euros</td>
					</tr>
					<tr>
						<td><p>Travail du cheval à la longe </p></td>
						<td>20 euros</td>
					</tr>
					<tr>
						<td>Paddock, récré ou liberté dans le manège</td>
						<td>12 euros</td>
					</tr>
					<tr>
						<td>Travail du cheval monté (par séance)</td>
						<td>35 euros</td>
					</tr>
					<tr>
						<td>Supplément foin par repas (par mois) </td>
						<td>50 euros</td>
					</tr>
					<tr>
						<td>Toilettage (crinière) </td>
						<td>23 euros</td>
					</tr>
					<tr>
						<td>Tonte hivernale</td>
						<td>70 euros</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>